body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2062px;
}
#u20 {
  position:absolute;
  left:0px;
  top:142px;
  width:1242px;
  height:2062px;
}
#u21 {
  position:absolute;
  left:2px;
  top:1023px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:142px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:142px;
}
#u23 {
  position:absolute;
  left:2px;
  top:63px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:428px;
}
#u24 {
  position:absolute;
  left:0px;
  top:1776px;
  width:1242px;
  height:428px;
}
#u25 {
  position:absolute;
  left:2px;
  top:206px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:197px;
  top:490px;
  width:848px;
  height:1058px;
  overflow:hidden;
  touch-action:pan-y;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1058px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u28 {
  position:absolute;
  left:2px;
  top:501px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:554px;
  top:1708px;
  width:20px;
  height:20px;
}
#u29_img.selected {
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:668px;
  top:1708px;
  width:20px;
  height:20px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:554px;
  top:650px;
  width:20px;
  height:20px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u35 {
  position:absolute;
  left:668px;
  top:650px;
  width:20px;
  height:20px;
}
#u35_img.selected {
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:357px;
  top:1024px;
  width:20px;
  height:20px;
}
#u37_img.selected {
}
#u37.selected {
}
#u37_img.disabled {
}
#u37.disabled {
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:471px;
  top:1024px;
  width:20px;
  height:20px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1058px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u26_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u42 {
  position:absolute;
  left:2px;
  top:501px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:357px;
  top:1024px;
  width:20px;
  height:20px;
}
#u43_img.selected {
}
#u43.selected {
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:471px;
  top:1024px;
  width:20px;
  height:20px;
}
#u45_img.selected {
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u47 {
  position:absolute;
  left:794px;
  top:0px;
  width:54px;
  height:54px;
}
#u48 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
