body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20 {
  position:absolute;
  left:0px;
  top:142px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2062px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2062px;
}
#u22 {
  position:absolute;
  left:2px;
  top:1023px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2062px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2062px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:498px;
  top:327px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u24_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:84px;
  height:8px;
}
#u25 {
  position:absolute;
  left:-12px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:6px;
}
#u27 {
  position:absolute;
  left:499px;
  top:1069px;
  width:27px;
  height:3px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:47px;
  height:6px;
}
#u29 {
  position:absolute;
  left:521px;
  top:1065px;
  width:44px;
  height:3px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u30 {
  position:absolute;
  left:2px;
  top:-6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2062px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:67px;
  height:6px;
}
#u32 {
  position:absolute;
  left:566px;
  top:992px;
  width:64px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u33 {
  position:absolute;
  left:2px;
  top:-6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:6px;
}
#u34 {
  position:absolute;
  left:609px;
  top:1018px;
  width:14px;
  height:3px;
  -webkit-transform:rotate(130deg);
  -moz-transform:rotate(130deg);
  -ms-transform:rotate(130deg);
  transform:rotate(130deg);
}
#u35 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2062px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:67px;
  height:6px;
}
#u37 {
  position:absolute;
  left:611px;
  top:1037px;
  width:64px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u38 {
  position:absolute;
  left:2px;
  top:-6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:6px;
}
#u39 {
  position:absolute;
  left:609px;
  top:1019px;
  width:14px;
  height:3px;
  -webkit-transform:rotate(130deg);
  -moz-transform:rotate(130deg);
  -ms-transform:rotate(130deg);
  transform:rotate(130deg);
}
#u40 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u41 {
  position:absolute;
  left:468px;
  top:1010px;
  width:60px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u43 {
  position:absolute;
  left:540px;
  top:921px;
  width:60px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u45 {
  position:absolute;
  left:637px;
  top:1008px;
  width:60px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:142px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:142px;
}
#u48 {
  position:absolute;
  left:2px;
  top:63px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:428px;
}
#u49 {
  position:absolute;
  left:0px;
  top:1776px;
  width:1242px;
  height:428px;
}
#u50 {
  position:absolute;
  left:2px;
  top:206px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:197px;
  top:573px;
  width:848px;
  height:1058px;
  overflow:hidden;
  touch-action:pan-y;
}
#u51_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1058px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u53 {
  position:absolute;
  left:2px;
  top:501px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:554px;
  top:1708px;
  width:20px;
  height:20px;
}
#u54_img.selected {
}
#u54.selected {
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:668px;
  top:1708px;
  width:20px;
  height:20px;
}
#u56_img.selected {
}
#u56.selected {
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:554px;
  top:650px;
  width:20px;
  height:20px;
}
#u58_img.selected {
}
#u58.selected {
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:668px;
  top:650px;
  width:20px;
  height:20px;
}
#u60_img.selected {
}
#u60.selected {
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:357px;
  top:1024px;
  width:20px;
  height:20px;
}
#u62_img.selected {
}
#u62.selected {
}
#u62_img.disabled {
}
#u62.disabled {
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:471px;
  top:1024px;
  width:20px;
  height:20px;
}
#u64_img.selected {
}
#u64.selected {
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1058px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u51_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u67 {
  position:absolute;
  left:2px;
  top:501px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u68 {
  position:absolute;
  left:357px;
  top:1024px;
  width:20px;
  height:20px;
}
#u68_img.selected {
}
#u68.selected {
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:471px;
  top:1024px;
  width:20px;
  height:20px;
}
#u70_img.selected {
}
#u70.selected {
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u72 {
  position:absolute;
  left:794px;
  top:0px;
  width:54px;
  height:54px;
}
#u73 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
